@media screen and (max-width: 1000px) {
    .front-img {
        height: 40vw;
    }
}

@media screen and (max-width: 900px) {
    #company {
        flex-direction: row-reverse;
    }
    #company > div:first-child > p:nth-child(2) {
        display: none;

    }
    .taketestCompanypage{
        display: none;
    }
    #company + div {
        display: flex;
    }
}
@media screen and (max-width: 500px) {
    #company + div {
        display: flex;
        margin: 5px;
        margin-top: 50px;
    }
}