* {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    width: auto;
    background: rgb(0, 24, 175);
    background: linear-gradient(90deg, rgba(0, 24, 175, 1) 0%, rgba(45, 18, 180, 1) 23%, rgba(64, 12, 186, 1) 50%, rgba(174, 0, 196, 1) 100%);
    height: 100vh;
}

.custom-shape-divider-bottom-1677075985 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.inverse {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0);
}

.custom-shape-divider-bottom-1677075985 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 252px;
}

.custom-shape-divider-bottom-1677075985 .shape-fill {
    fill: #2690DA;
}

.front-img {
    height: 30vw;
}

.get-started-btn {
    background: cornflowerblue;
    border: 3px soild white;
    border-radius: 10px;
    font-weight: 700;
}

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #005ce6;
}

.signUpForm {
    /* display: none; */
    z-index: 10;
    position: absolute;
    top: 17vh;
    left: 50vw;
    left: calc(50vw - 150px);
    transition: all;
}

.navbar>input {

    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}

.navbar>input :active {
    box-shadow: 2px 2px 15px #8707ff inset;
}

.blobStyle {
    width: 15vh;
}

.hide {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    /* transform: translateX(-100%); */
}

.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}

.internBox {
    width: 190px;
    height: 254px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
    #LandingPageContent {
        flex-direction: column-reverse;
        margin: 3px;
        padding: 0;
    }

    .front-img {
        height: 270px;
        width: 320px;
        margin: auto;
    }

    #LandingPageContent>div {
        margin-top: 5px;
        margin: 0;
        z-index: 10;
    }
}
@media screen and (max-height: 600px) {
    .custom-shape-divider-bottom-1677075985{
        display: none;
    }
}