.test-button {
    height: 33px;
    width: 12rem;
    margin-top: 35px;
    font-weight: bold;
    color: white;
    background: rgb(0, 145, 175);
    background: linear-gradient(90deg, rgba(0, 145, 175, 1) 0%, rgba(0, 196, 162, 1) 100%);
    border-radius: 14px;
}
.next-button{
    
    border-radius: 14px;
    height: 2rem;
    width: 7rem;
    font-weight: bold;
    color: white;
    background: rgb(0, 145, 175);
    background: linear-gradient(90deg, rgba(0, 145, 175, 1) 0%, rgba(0, 196, 162, 1) 100%);
}

.test-img {
    width: 30vw;
}

.question-box {
    width: 75vw;
}
.testPage{
    background-color: #f8f9fa;
}

.timer {
    width: 300px;
    margin: auto;
    text-align: center;
}

.timer-display {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.timer-controls button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.form-label{
    width: 20vw;
}
@media screen and (max-width: 650px) {
    .PointsBeforeYouBegin{
        font-size: 40px;
    }
    #testDetails{
        margin-top: 20px;
        width: 80vw;
    }
    .form-label{
        width: 35vw;
    }
    #testDetails> button {
        margin-top: 3px;
    }
    .question-box{
        width: 100%;
    }
    .resinput{
        width: 45vw;
    }
    .next-button{
        margin-bottom: 4px;
    }
}